* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #7fc7d9, #cfe9f1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Back Arrow */
.back {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  cursor: pointer;
  height: 30px;
  width: 60px;
  background: #e6e6e6e2;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.card {
  background: white;
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Heading */
.card h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* Labels */
label {
  font-size: 13px;
  margin-top: 10px;
  display: block;
}

/* Input box */
.input-box {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  border-radius: 6px;
  padding: 6px;
  margin-top: 4px;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 13px;
}

.icon {
  margin-right: 6px;
}

.eye {
  margin-left: 6px;
  cursor: pointer;
}

/* CAPTCHA */
.captcha {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

/* CAPTCHA input */
.captcha-input {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  padding: 6px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login {
  background: #1f5fbf;
  color: white;
}

.reset {
  background: #e6e6e6;
}

/* Links */
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  font-size: 12px;
  text-decoration: none;
  color: #1f5fbf;
}