* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f0f0;
}

/* Layout */
.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: #445b7c;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.profile {
  text-align: center;
  margin: 20px 0;
}

.avatar img {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  margin: auto;
}

.profile p {
  margin-top: 8px;
}

.menu {
  list-style: none;
}

.menu li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 6px;
  
}

.menu li.active,
.menu li:hover {
  background: #2e3f5f;
}

.logout {
  margin-top: 20px;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
  background: #eee;
}

.main h3 {
  margin-bottom: 15px;
}

/* Cards */
.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  width: 150px;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  
}

.card span {
  font-size: 24px;
  display: block;
}

.pink { background: #e9d7dc; }
.beige { background: #e8dccd; }
.peach { background: #e7d3cc; }

/* Bottom Section */
.bottom {
  display: flex;
  gap: 20px;
}

.box {
  background: white;
  border-radius: 10px;
  padding: 50px;
  width: 50%;
  height: 500px;
}

.box h4 {
  margin-bottom: 10px;
}

.item {
  margin-bottom: 10px;
}

.item p {
  font-size: 13px;
  color: #555;
}

.box a {
  font-size: 13px;
  text-decoration: none;
  color: #2e5aac;
}
 .menu a{
color: white;
}
.card a{
    color: black;
}