* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

/* Navbar */
.navbar {
  background: #1f3b64;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* Container */
.container {
  background: white;
  width: 95%;
  margin: 15px auto;
  padding: 15px;
  border-radius: 6px;
}

h3 {
  margin-bottom: 10px;
}

/* Filters */
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filters select,
.filters input {
  padding: 5px;
  font-size: 13px;
}

/* Actions */
.actions {
  margin-bottom: 10px;
}

.actions button {
  padding: 6px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Buttons */
.green {
  background: #2ecc71;
  color: white;
  height: 40px;
  width: 130px;
  border-radius: 5px;


}

.gray {
  background: #dddddde4;
  border-radius: 5px;
  height: 30px;
  width: 200px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
  font-size: 13px;
}

th {
  background: #f5f5f5;
 
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.footer span {
  font-size: 13px;
}
.popup {
    position: fixed;
    top: 350px;
    right:570px;
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    display: none;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}
.present {
    transform: scale(2);
    accent-color: green;
    cursor: pointer;
}

.absent {
    transform: scale(2);
    accent-color: red;
    cursor: pointer;
}

