*{ margin:0%;
padding:0%;
box-sizing:border-box;
}
html,body{
 height:100%;
width:100%
}
#login{
    height:100%;
width:100%
}
#backgroundimg img {
     height:100%;
     width:100%;
    margin:0%;
     padding:0%;
}
   
#logo img{
    position:absolute;
    top: 0;
    margin-top: 30px;
    margin-left: 350px;
     height: 250px;
    width: 250px;
    
}
#name{
    position: absolute;
    top: 0;
     margin-top: 80px;
    margin-left: 550px;
    color: white;
    font-size: xx-large;
    padding: 0%;
}
#name h2{
    font-size: 35px;
}
#slogan{
    position: absolute;
    top: 0;
     margin-top: 200px;
    margin-left: 480px;
    font-family: 'Times New Roman', Times, serif;
   color: white;
   font-size: x-large;
   border-top: 2px solid skyblue;
}
#loginlogo{ position: absolute;
    top: 600px;
    left: 770px;
    width: 140px;
    height: 50px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
