* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f2f5a;
}

/* Page */
.page {
  max-width: 1000px;
  margin: 60px auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

/* Header */
.header {
  background: #183a6b;
  color: white;
  padding: 15px;
  font-size: 18px;
}

/* Table container */
.table-container {
  padding: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #e9e9e9;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

/* Progress bar */
.progress {
  width: 120px;
  height: 10px;
  background: #eee;
  border-radius: 10px;
  margin: 0 auto 4px;
}

.bar {
  height: 100%;
  border-radius: 10px;
}

.good {
  background: #2ecc71;
}

.danger {
  background: #e74c3c;
}

/* Status text */
.good-text {
  color: #2ecc71;
  font-weight: bold;
}

.danger-text {
  color: #e74c3c;
  font-weight: bold;
}
a{
  color: white;
}